.plangotrip-layout > .dock-window {
  width: 100%;
  position: fixed;
  bottom: 20px;
}

.plangotrip-layout .p-menubar {
  padding: 0;
  border-radius: 0;
}
.plangotrip-layout .p-menubar .p-menubar-end {
  display: flex;
  align-items: center;
  padding: 2px 0;
}

.plangotrip-container {
  background-image: url(https://primefaces.org/cdn/primevue/images/dock/window.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
