.plangotrip-layout .p-menubar {
  padding: 0;
  border-radius: 0;
}
.plangotrip-layout .p-menubar .p-menubar-end {
  display: flex;
  align-items: center;
  padding: 2px 0;
}

.plangotrip-container {
  width: 100%;
  height: 100vh;
}

.plangotrip-home {
  background-image: url('../images/bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

html:not(.plangotrip-app-dark) .p-dock-list-container {
  background: rgba(210, 210, 210, 0.1);
  border: 1px solid rgb(241, 233, 233);
}
